LTM/file-transfer-system/n8n/forgot_password_email_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forgot-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "id": "forgot-password-webhook-001",
      "name": "Webhook - Forgot Password",
      "webhookId": "forgot-password-temp-pwd-001"
    },
    {
      "parameters": {
        "jsCode": "// ✅ N8N Code Node - Email Quên Mật Khẩu (Temporary Password)\n\n// BƯỚC 1: Lấy dữ liệu từ input\nconst body = $json.body || $json;\n\nconst email = body.email || \"unknown@email.com\";\nconst username = body.username || \"Guest\";\nconst temp_password = body.temp_password || \"********\";\nconst timestamp = body.timestamp || new Date().toISOString();\nconst login_url = body.login_url || \"http://127.0.0.1:5000/login\";\nconst expires_in_minutes = body.expires_in_minutes || 2;\n\n// BƯỚC 2: Format timestamp\nconst formattedDate = new Date(timestamp).toLocaleString('vi-VN', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: false\n});\n\n// BƯỚC 3: Tính thời gian hết hạn\nconst expiresAt = new Date(new Date(timestamp).getTime() + expires_in_minutes * 60000);\nconst formattedExpiresAt = expiresAt.toLocaleString('vi-VN', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: false\n});\n\n// BƯỚC 4: Tạo greeting dựa trên thời gian\nconst hour = new Date(timestamp).getHours();\nlet greeting = '';\nlet greetingIcon = '';\nif (hour >= 5 && hour < 12) {\n  greeting = 'Chào buổi sáng';\n  greetingIcon = '🌅';\n} else if (hour >= 12 && hour < 18) {\n  greeting = 'Chào buổi chiều';\n  greetingIcon = '☀️';\n} else if (hour >= 18 && hour < 22) {\n  greeting = 'Chào buổi tối';\n  greetingIcon = '🌆';\n} else {\n  greeting = 'Chào bạn';\n  greetingIcon = '🌙';\n}\n\n// BƯỚC 5: Tạo HTML email đẹp cho Forgot Password\nconst htmlBody = `<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 50%, #FFB84D 100%);\n            padding: 40px 20px;\n            min-height: 100vh;\n        }\n        .email-wrapper {\n            max-width: 680px;\n            margin: 0 auto;\n        }\n        .container {\n            background: white;\n            border-radius: 30px;\n            box-shadow: 0 30px 90px rgba(0,0,0,0.35);\n            overflow: hidden;\n            animation: slideIn 0.8s ease-out;\n        }\n        @keyframes slideIn {\n            from { opacity: 0; transform: translateY(-50px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n        .header {\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 50%, #FFB84D 100%);\n            color: white;\n            padding: 60px 40px;\n            text-align: center;\n            position: relative;\n            overflow: hidden;\n        }\n        .warning-badge {\n            width: 150px;\n            height: 150px;\n            margin: 0 auto 30px;\n            background: linear-gradient(135deg, #FFD93D 0%, #FFA500 50%, #FFD93D 100%);\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            border: 6px solid rgba(255,255,255,0.5);\n            font-size: 80px;\n            box-shadow: 0 15px 40px rgba(255,165,0,0.5);\n        }\n        .header h1 {\n            font-size: 42px;\n            font-weight: 900;\n            margin: 0 0 20px 0;\n            text-shadow: 0 4px 20px rgba(0,0,0,0.3);\n        }\n        .header-subtitle {\n            font-size: 20px;\n            font-weight: 600;\n            opacity: 0.95;\n            line-height: 1.6;\n        }\n        .content {\n            padding: 60px 50px;\n        }\n        .greeting-section {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            border-radius: 25px;\n            padding: 50px 40px;\n            margin: 50px 0;\n            color: white;\n            box-shadow: 0 15px 45px rgba(102, 126, 234, 0.5);\n            text-align: center;\n        }\n        .greeting-emoji {\n            font-size: 60px;\n            margin-bottom: 20px;\n            display: block;\n        }\n        .greeting-text {\n            font-size: 26px;\n            font-weight: 700;\n            margin-bottom: 15px;\n        }\n        .greeting-name {\n            font-size: 38px;\n            font-weight: 900;\n            margin: 15px 0 20px 0;\n            letter-spacing: 1px;\n        }\n        .warning-card {\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 100%);\n            border-radius: 25px;\n            padding: 55px 45px;\n            margin: 60px 0;\n            box-shadow: 0 20px 60px rgba(255, 107, 107, 0.5);\n            text-align: center;\n        }\n        .warning-icon {\n            font-size: 70px;\n            margin-bottom: 25px;\n        }\n        .warning-title {\n            color: white;\n            font-size: 32px;\n            font-weight: 900;\n            margin-bottom: 20px;\n            text-shadow: 0 3px 15px rgba(0,0,0,0.3);\n        }\n        .warning-text {\n            color: rgba(255,255,255,0.95);\n            font-size: 18px;\n            line-height: 1.9;\n            text-shadow: 0 1px 5px rgba(0,0,0,0.2);\n        }\n        .temp-password-card {\n            background: linear-gradient(135deg, #F0F8FF 0%, #E0F8FF 100%);\n            border-radius: 25px;\n            padding: 50px 45px;\n            margin: 60px 0;\n            border-left: 8px solid #FF6B6B;\n            box-shadow: 0 10px 35px rgba(255, 107, 107, 0.3);\n        }\n        .temp-pwd-title {\n            color: #FF6B6B;\n            font-size: 28px;\n            font-weight: 900;\n            margin-bottom: 12px;\n            text-align: center;\n        }\n        .temp-pwd-subtitle {\n            color: #FF8E53;\n            font-size: 16px;\n            font-weight: 600;\n            text-align: center;\n            margin-bottom: 35px;\n        }\n        .password-display {\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 100%);\n            border-radius: 18px;\n            padding: 35px;\n            margin: 30px 0;\n            text-align: center;\n            box-shadow: 0 10px 30px rgba(255, 107, 107, 0.4);\n        }\n        .password-label {\n            color: rgba(255,255,255,0.9);\n            font-size: 14px;\n            font-weight: 700;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            margin-bottom: 15px;\n        }\n        .password-value {\n            background: white;\n            color: #FF6B6B;\n            font-size: 42px;\n            font-weight: 900;\n            padding: 25px 40px;\n            border-radius: 15px;\n            letter-spacing: 8px;\n            font-family: 'Courier New', monospace;\n            box-shadow: 0 5px 20px rgba(0,0,0,0.2);\n            border: 4px solid #FFD93D;\n        }\n        .info-grid {\n            display: grid;\n            gap: 18px;\n            margin-top: 30px;\n        }\n        .info-item {\n            background: white;\n            border-radius: 18px;\n            padding: 25px;\n            display: flex;\n            align-items: center;\n            box-shadow: 0 5px 20px rgba(255, 107, 107, 0.15);\n            border: 2px solid transparent;\n        }\n        .info-icon-box {\n            width: 65px;\n            height: 65px;\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 100%);\n            border-radius: 16px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 32px;\n            margin-right: 22px;\n            flex-shrink: 0;\n            box-shadow: 0 5px 15px rgba(255, 107, 107, 0.3);\n        }\n        .info-content {\n            flex: 1;\n        }\n        .info-label {\n            color: #FF8E53;\n            font-size: 13px;\n            font-weight: 700;\n            text-transform: uppercase;\n            letter-spacing: 1.5px;\n            margin-bottom: 8px;\n        }\n        .info-value {\n            color: #1E3A8A;\n            font-size: 19px;\n            font-weight: 800;\n            word-break: break-all;\n        }\n        .instructions-section {\n            margin: 70px 0;\n            background: rgba(240, 248, 255, 0.5);\n            padding: 60px 40px;\n            border-radius: 20px;\n        }\n        .section-title {\n            color: #FF6B6B;\n            font-size: 34px;\n            font-weight: 900;\n            margin-bottom: 15px;\n            text-align: center;\n        }\n        .section-subtitle {\n            color: #64748b;\n            font-size: 17px;\n            margin-top: 20px;\n            font-weight: 500;\n            text-align: center;\n            margin-bottom: 40px;\n        }\n        .steps-grid {\n            display: grid;\n            gap: 25px;\n        }\n        .step-card {\n            background: white;\n            border-radius: 20px;\n            padding: 30px;\n            box-shadow: 0 8px 25px rgba(255, 107, 107, 0.15);\n            display: flex;\n            align-items: flex-start;\n            border-left: 6px solid;\n        }\n        .step-card-1 { border-left-color: #FF6B6B; }\n        .step-card-2 { border-left-color: #FF8E53; }\n        .step-card-3 { border-left-color: #FFB84D; }\n        .step-card-4 { border-left-color: #667eea; }\n        .step-number {\n            width: 60px;\n            height: 60px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 28px;\n            font-weight: 900;\n            color: white;\n            margin-right: 25px;\n            flex-shrink: 0;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.2);\n        }\n        .step-card-1 .step-number { background: linear-gradient(135deg, #FF6B6B, #FF8E53); }\n        .step-card-2 .step-number { background: linear-gradient(135deg, #FF8E53, #FFB84D); }\n        .step-card-3 .step-number { background: linear-gradient(135deg, #FFB84D, #FFD93D); }\n        .step-card-4 .step-number { background: linear-gradient(135deg, #667eea, #764ba2); }\n        .step-content {\n            flex: 1;\n        }\n        .step-title {\n            color: #1E3A8A;\n            font-size: 22px;\n            font-weight: 800;\n            margin-bottom: 12px;\n        }\n        .step-desc {\n            color: #64748b;\n            font-size: 16px;\n            line-height: 1.7;\n        }\n        .security-alert {\n            background: linear-gradient(135deg, #FFD93D 0%, #FFA500 100%);\n            border-radius: 25px;\n            padding: 40px;\n            margin: 50px 0;\n            text-align: center;\n            box-shadow: 0 15px 45px rgba(255, 165, 0, 0.4);\n        }\n        .alert-icon {\n            font-size: 60px;\n            margin-bottom: 20px;\n        }\n        .alert-title {\n            color: white;\n            font-size: 28px;\n            font-weight: 900;\n            margin-bottom: 15px;\n            text-shadow: 0 2px 10px rgba(0,0,0,0.2);\n        }\n        .alert-text {\n            color: rgba(255,255,255,0.95);\n            font-size: 17px;\n            line-height: 1.8;\n        }\n        .cta-section {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            border-radius: 25px;\n            padding: 60px 45px;\n            margin: 70px 0;\n            text-align: center;\n            border: 4px solid #667eea;\n            box-shadow: 0 15px 50px rgba(102, 126, 234, 0.4);\n        }\n        .cta-icon {\n            font-size: 80px;\n            margin-bottom: 25px;\n        }\n        .cta-title {\n            color: white;\n            font-size: 32px;\n            font-weight: 900;\n            margin-bottom: 20px;\n        }\n        .cta-text {\n            color: rgba(255,255,255,0.95);\n            font-size: 18px;\n            line-height: 1.9;\n            margin-bottom: 30px;\n            font-weight: 600;\n        }\n        .cta-button {\n            display: inline-block;\n            background: linear-gradient(135deg, #FF6B6B 0%, #FF8E53 100%);\n            color: white;\n            text-decoration: none;\n            padding: 22px 60px;\n            border-radius: 60px;\n            font-weight: 900;\n            font-size: 20px;\n            box-shadow: 0 12px 35px rgba(255, 107, 107, 0.5);\n            border: 3px solid white;\n        }\n        .divider {\n            height: 4px;\n            background: linear-gradient(to right, transparent, #FF8E53, transparent);\n            margin: 50px 0;\n        }\n        .footer {\n            background: linear-gradient(135deg, #F0F8FF 0%, #E0F8FF 100%);\n            padding: 50px 40px;\n            text-align: center;\n            border-top: 4px solid #FF6B6B;\n        }\n        .footer-logo {\n            font-size: 60px;\n            margin-bottom: 20px;\n            display: block;\n        }\n        .footer-brand {\n            color: #FF6B6B;\n            font-size: 24px;\n            font-weight: 900;\n            margin-bottom: 12px;\n        }\n        .footer-tagline {\n            color: #FF8E53;\n            font-size: 16px;\n            font-weight: 600;\n            margin-bottom: 25px;\n        }\n        .footer-info {\n            color: #1E3A8A;\n            font-size: 15px;\n            line-height: 2;\n            margin-bottom: 25px;\n        }\n        .footer-time {\n            background: white;\n            border-radius: 15px;\n            padding: 18px 32px;\n            display: inline-block;\n            color: #FF6B6B;\n            font-size: 15px;\n            font-weight: 800;\n            margin: 20px 0;\n            box-shadow: 0 4px 18px rgba(255, 107, 107, 0.2);\n            border: 2px solid #FFB6C1;\n        }\n        .footer-copyright {\n            color: #1E3A8A;\n            font-size: 14px;\n            margin-top: 30px;\n            padding-top: 30px;\n            border-top: 2px solid #FFB6C1;\n            line-height: 1.8;\n        }\n        @media only screen and (max-width: 600px) {\n            .content { padding: 35px 25px; }\n            .header h1 { font-size: 30px; }\n            .password-value { font-size: 32px; letter-spacing: 4px; }\n            .cta-button { padding: 18px 40px; font-size: 18px; }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"container\">\n            <div class=\"header\">\n                <div class=\"warning-badge\">🔐</div>\n                <h1>YÊU CẦU ĐẶT LẠI MẬT KHẨU</h1>\n                <p class=\"header-subtitle\">Chúng tôi đã nhận được yêu cầu khôi phục mật khẩu của bạn<br/>Mật khẩu tạm thời có hiệu lực trong ${expires_in_minutes} phút</p>\n            </div>\n\n            <div class=\"content\">\n                <div class=\"greeting-section\">\n                    <span class=\"greeting-emoji\">${greetingIcon}</span>\n                    <div class=\"greeting-text\">${greeting}!</div>\n                    <div class=\"greeting-name\">${username}</div>\n                </div>\n\n                <div class=\"warning-card\">\n                    <div class=\"warning-icon\">⚠️</div>\n                    <div class=\"warning-title\">Thông Báo Bảo Mật</div>\n                    <div class=\"warning-text\">\n                        Nếu bạn KHÔNG yêu cầu đặt lại mật khẩu, vui lòng BỎ QUA email này<br/>\n                        và liên hệ ngay với bộ phận hỗ trợ để bảo vệ tài khoản!\n                    </div>\n                </div>\n\n                <div class=\"temp-password-card\">\n                    <div class=\"temp-pwd-title\">🔑 Mật Khẩu Tạm Thời</div>\n                    <div class=\"temp-pwd-subtitle\">Sử dụng mật khẩu này để đăng nhập và đổi mật khẩu mới</div>\n                    \n                    <div class=\"password-display\">\n                        <div class=\"password-label\">⏱️ Mật khẩu tạm (Có hiệu lực ${expires_in_minutes} phút)</div>\n                        <div class=\"password-value\">${temp_password}</div>\n                    </div>\n\n                    <div class=\"info-grid\">\n                        <div class=\"info-item\">\n                            <div class=\"info-icon-box\">📧</div>\n                            <div class=\"info-content\">\n                                <div class=\"info-label\">Email</div>\n                                <div class=\"info-value\">${email}</div>\n                            </div>\n                        </div>\n                        <div class=\"info-item\">\n                            <div class=\"info-icon-box\">👤</div>\n                            <div class=\"info-content\">\n                                <div class=\"info-label\">Username</div>\n                                <div class=\"info-value\">${username}</div>\n                            </div>\n                        </div>\n                        <div class=\"info-item\">\n                            <div class=\"info-icon-box\">📅</div>\n                            <div class=\"info-content\">\n                                <div class=\"info-label\">Thời Gian Tạo</div>\n                                <div class=\"info-value\">${formattedDate}</div>\n                            </div>\n                        </div>\n                        <div class=\"info-item\">\n                            <div class=\"info-icon-box\">⏰</div>\n                            <div class=\"info-content\">\n                                <div class=\"info-label\">Hết Hạn Lúc</div>\n                                <div class=\"info-value\">${formattedExpiresAt}</div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"instructions-section\">\n                    <div class=\"section-title\">📋 Hướng Dẫn Đổi Mật Khẩu</div>\n                    <div class=\"section-subtitle\">Làm theo 4 bước đơn giản để khôi phục tài khoản</div>\n                    \n                    <div class=\"steps-grid\">\n                        <div class=\"step-card step-card-1\">\n                            <div class=\"step-number\">1</div>\n                            <div class=\"step-content\">\n                                <div class=\"step-title\">Truy cập trang đăng nhập</div>\n                                <div class=\"step-desc\">Mở trình duyệt và truy cập vào trang đăng nhập của File Transfer System</div>\n                            </div>\n                        </div>\n                        <div class=\"step-card step-card-2\">\n                            <div class=\"step-number\">2</div>\n                            <div class=\"step-content\">\n                                <div class=\"step-title\">Nhập mật khẩu tạm</div>\n                                <div class=\"step-desc\">Sử dụng mật khẩu tạm thời <strong>${temp_password}</strong> để đăng nhập (có hiệu lực ${expires_in_minutes} phút)</div>\n                            </div>\n                        </div>\n                        <div class=\"step-card step-card-3\">\n                            <div class=\"step-number\">3</div>\n                            <div class=\"step-content\">\n                                <div class=\"step-title\">Đổi mật khẩu mới</div>\n                                <div class=\"step-desc\">Hệ thống sẽ yêu cầu bạn đổi mật khẩu mới ngay sau khi đăng nhập thành công</div>\n                            </div>\n                        </div>\n                        <div class=\"step-card step-card-4\">\n                            <div class=\"step-number\">4</div>\n                            <div class=\"step-content\">\n                                <div class=\"step-title\">Hoàn tất và sử dụng</div>\n                                <div class=\"step-desc\">Sau khi đổi mật khẩu thành công, bạn có thể sử dụng mật khẩu mới để đăng nhập lần sau</div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"security-alert\">\n                    <span class=\"alert-icon\">🛡️</span>\n                    <div class=\"alert-title\">Lưu Ý Bảo Mật Quan Trọng</div>\n                    <div class=\"alert-text\">\n                        ✓ Mật khẩu tạm chỉ có hiệu lực trong ${expires_in_minutes} phút<br/>\n                        ✓ Bạn có thể đăng nhập bằng mật khẩu CŨ hoặc mật khẩu TẠM<br/>\n                        ✓ Sau khi đăng nhập bằng mật khẩu tạm, BẮT BUỘC phải đổi mật khẩu mới<br/>\n                        ✓ KHÔNG chia sẻ mật khẩu tạm cho bất kỳ ai<br/>\n                        ✓ Nếu không phải bạn yêu cầu, hãy liên hệ hỗ trợ NGAY LẬP TỨC\n                    </div>\n                </div>\n\n                <div class=\"cta-section\">\n                    <span class=\"cta-icon\">🚀</span>\n                    <div class=\"cta-title\">Đăng Nhập Ngay Bây Giờ</div>\n                    <div class=\"cta-text\">\n                        Nhấp vào nút bên dưới để truy cập trang đăng nhập<br/>\n                        và sử dụng mật khẩu tạm để đổi mật khẩu mới\n                    </div>\n                    <a href=\"${login_url}\" class=\"cta-button\">🔐 Đăng Nhập & Đổi Mật Khẩu</a>\n                </div>\n\n                <div class=\"divider\"></div>\n            </div>\n\n            <div class=\"footer\">\n                <span class=\"footer-logo\">🔐</span>\n                <div class=\"footer-brand\">File Transfer System</div>\n                <div class=\"footer-tagline\">Bảo mật tài khoản là ưu tiên hàng đầu</div>\n                <div class=\"footer-info\">\n                    Đây là email tự động từ hệ thống bảo mật.<br/>\n                    Vui lòng không reply trực tiếp vào email này.\n                </div>\n                <div class=\"footer-time\">\n                    🕐 Thời gian gửi: <strong>${formattedDate}</strong>\n                </div>\n                <div class=\"footer-copyright\">\n                    © 2025 File Transfer System. All rights reserved.<br/>\n                    Bảo mật tài khoản của bạn là trách nhiệm của chúng tôi 🛡️<br/>\n                    <strong>Email hỗ trợ: webaptgroub@gmail.com</strong>\n                </div>\n            </div>\n        </div>\n    </div>\n</body>\n</html>`;\n\n// BƯỚC 6: Return dữ liệu để gửi email\nreturn {\n  email: email,\n  username: username,\n  temp_password: temp_password,\n  timestamp: formattedDate,\n  expires_at: formattedExpiresAt,\n  expires_in_minutes: expires_in_minutes,\n  greeting: greeting,\n  greetingIcon: greetingIcon,\n  login_url: login_url,\n  subject: `🔐 [QUAN TRỌNG] Mật Khẩu Tạm Thời Cho ${username} - Có Hiệu Lực ${expires_in_minutes} Phút`,\n  htmlBody: htmlBody,\n  plainText: `${greeting} ${username}!\n\nYÊU CẦU ĐẶT LẠI MẬT KHẨU\n\n⚠️ THÔNG BÁO BẢO MẬT:\nNếu bạn KHÔNG yêu cầu đặt lại mật khẩu, vui lòng BỎ QUA email này và liên hệ hỗ trợ ngay!\n\n🔑 MẬT KHẨU TẠM THỜI:\n${temp_password}\n\n📋 THÔNG TIN:\n- Email: ${email}\n- Username: ${username}\n- Thời gian tạo: ${formattedDate}\n- Hết hạn lúc: ${formattedExpiresAt}\n- Hiệu lực: ${expires_in_minutes} phút\n\n📖 HƯỚNG DẪN:\n1. Truy cập trang đăng nhập\n2. Nhập mật khẩu tạm: ${temp_password}\n3. Hệ thống sẽ yêu cầu đổi mật khẩu mới\n4. Hoàn tất và sử dụng mật khẩu mới\n\n🛡️ LƯU Ý BẢO MẬT:\n- Mật khẩu tạm chỉ có hiệu lực ${expires_in_minutes} phút\n- Bạn có thể đăng nhập bằng mật khẩu CŨ hoặc mật khẩu TẠM\n- Sau khi đăng nhập bằng mật khẩu tạm, BẮT BUỘC đổi mật khẩu mới\n- KHÔNG chia sẻ mật khẩu tạm cho bất kỳ ai\n\n🚀 ĐĂNG NHẬP NGAY:\n${login_url}\n\n© 2025 File Transfer System\nEmail hỗ trợ: webaptgroub@gmail.com`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "forgot-password-code-001",
      "name": "Code - Forgot Password Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        176
      ],
      "id": "forgot-password-gmail-001",
      "name": "Send Forgot Password Email",
      "webhookId": "forgot-password-gmail-webhook-001",
      "credentials": {
        "gmailOAuth2": {
          "id": "XjjVI9QLgTOoHcve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Email mật khẩu tạm đã được gửi thành công\",\n  \"email\": \"{{ $json.email }}\",\n  \"expires_in_minutes\": {{ $json.expires_in_minutes }},\n  \"timestamp\": \"{{ now().toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        176
      ],
      "id": "forgot-password-respond-001",
      "name": "Respond - Success"
    }
  ],
  "connections": {
    "Webhook - Forgot Password": {
      "main": [
        [
          {
            "node": "Code - Forgot Password Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Forgot Password Email": {
      "main": [
        [
          {
            "node": "Send Forgot Password Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Forgot Password Email": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "forgot-password-workflow-v1"
  }
}
